<div class="container">
        <div class="row">
                <th-mainmenu></th-mainmenu>
        <div>
<div>
<div class="container">
        <div class="row">
            <router-outlet></router-outlet>
        <div>
<div>
<!---
<div class="full-width">top</div>
<div class="flex">
    <div class="side-bar flex-1">
        <div>Main menu</div>
        <button (click)="click(0)">click</button>
        <div (click)="click(1)">Students</div>
    </div>
    <div class="content flex-4">
        <router-outlet></router-outlet>
    </div>
</div>
-->




