.pointer {cursor: pointer;}

.logo {width: 40px; height: 40px;}
li > a:hover {border-radius: 5px 5px 5px 5px;border: 1px solid white;}
li > a {border: 1px solid transparent; padding: 5px}

#login-nav input {
    margin-bottom: 15px;
  }
  
  .navbar-brand {
    margin-top: -10px;
  }