<section class="menu horizontal-menu cid-rHlD7XB9Cb" id="menu2-0">
    <nav class="navbar navbar-dropdown navbar-expand-lg navbar-fixed-top">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item pointer">
                            <a class="nav-link link text-white display-7 brand-name" (click)="click(0)">Home</a>
                        </li>
                   
                </ul>    
        <!--
    <div class="brand">

                    <p class="brand-name mbr-fonts-style mbr-bold display-5">Home</p>
                </div>
        -->
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                <li class="nav-item pointer">
                        <a class="nav-link link text-white display-7" (click)="click(1)">Manage Students</a>
                    </li>
                <li class="nav-item pointer">
                    <a class="nav-link link text-white display-7" (click)="click(2)">Manage Courses</a>
                </li>
                <li class="nav-item pointer">
                    <a class="nav-link link text-white display-7" (click)="click(3)">Manage Teachers</a>
                </li>
            </ul>
        </div>
              
        <button on="tap:sidebar.toggle" class="btn">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
</section>
