section{background-color: #eeeeee;background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;}
section,.container,.container-fluid{position: relative;word-wrap: break-word;}
.pointer {cursor: pointer; ;}
li > a:hover {border-radius: 5px 5px 5px 5px;border: 1px solid white;}
li > a {border: 1px solid transparent; padding: 5px}

.cid-rHlD7XB9Cb{min-height: 80px;}
.cid-rHlD7XB9Cb .brand-name{color: #ffffff; margin: 0; width: 80px;font-size: 20pt;font-weight: bold;}
.cid-rHlD7XB9Cb .nav-item:focus,.cid-rHlD7XB9Cb .nav-link:focus{outline: none;}
.cid-rHlD7XB9Cb .navbar-nav{list-style-type: none;display: flex;-webkit-flex-direction: row;flex-direction: row;padding-left: 0;}
.cid-rHlD7XB9Cb .navbar-nav .nav-link{margin: .667em 1em;font-weight: normal;}
.cid-rHlD7XB9Cb ul.navbar-nav li{margin: auto;}
.cid-rHlD7XB9Cb .dropdown-toggle[data-toggle="dropdown-submenu"]:after{content: '';margin-left: .25rem;border-top: 0.35em solid;border-right: 0.35em solid transparent;border-left: 0.35em solid transparent;border-bottom: 0;top: 55%;}
.cid-rHlD7XB9Cb .nav-dropdown .dropdown-menu .dropdown-item{-webkit-justify-content: center;justify-content: center;display: flex;-webkit-align-items: center;align-items: center;}

.cid-rHlD7XB9Cb .nav-dropdown .dropdown-menu{border-radius: 0;border: 0;left: 0;margin: 0;min-width: 10rem;padding-bottom: 1.25rem;padding-top: 1.25rem;position: absolute;}
.cid-rHlD7XB9Cb .nav-dropdown .dropdown-menu .dropdown-item{font-weight: 400;line-height: 2;display: flex;-webkit-align-items: center;align-items: center;width: 100%;padding: .25rem 1.5rem;clear: both;text-align: inherit;white-space: nowrap;background: 0 0;border: 0;}
.cid-rHlD7XB9Cb .nav-dropdown .dropdown-menu .dropdown{position: relative;}
.cid-rHlD7XB9Cb .nav-item.dropdown{position: relative;}
.cid-rHlD7XB9Cb .nav-item.dropdown .dropdown-menu{z-index: -1;opacity: 0;pointer-events: none;}
.cid-rHlD7XB9Cb .nav-item.dropdown:hover > .dropdown-menu{z-index: 1;opacity: 1;pointer-events: all;}
.cid-rHlD7XB9Cb .dropdown-menu .dropdown:hover > .dropdown-menu{z-index: 1;opacity: 1;pointer-events: all;}
.cid-rHlD7XB9Cb .link.dropdown-toggle:after{content: '';margin-left: .25rem;border-top: 0.35em solid;border-right: 0.35em solid transparent;border-left: 0.35em solid transparent;border-bottom: 0;}
.cid-rHlD7XB9Cb .nav-dropdown .dropdown-submenu{top: 0;}
.cid-rHlD7XB9Cb .navbar{z-index: 100;display: flex;-webkit-flex-direction: row;flex-direction: row;width: 100%;min-height: 80px;transition: all .3s;background: #0b416c;}
.cid-rHlD7XB9Cb .navbar .navbar-logo{margin-right: .8rem;}
.cid-rHlD7XB9Cb .navbar .navbar-logo img{height: auto;}
.cid-rHlD7XB9Cb .navbar.navbar-short{background: #0b416c;}
.cid-rHlD7XB9Cb .navbar.navbar-short .brand{padding: 0;}
.cid-rHlD7XB9Cb .navbar.opened{transition: all .3s;background: #0b416c;}
.cid-rHlD7XB9Cb .navbar .dropdown-item{padding: .25rem 1.5rem;}
.cid-rHlD7XB9Cb .navbar .navbar-collapse{display: flex;-webkit-justify-content: flex-end;justify-content: flex-end;z-index: 1;-webkit-flex-basis: 100%;flex-basis: 100%;-webkit-align-items: center;align-items: center;}
.cid-rHlD7XB9Cb .navbar.opened .navbar-collapse.show,.cid-rHlD7XB9Cb .navbar.opened .navbar-collapse.collapsing{display: block;}
.cid-rHlD7XB9Cb .navbar.opened .dropdown-menu{top: 0;}
.cid-rHlD7XB9Cb .navbar .dropdown-menu{position: relative;background: transparent;}
.cid-rHlD7XB9Cb .navbar .dropdown-menu .dropdown-submenu{left: 0;}
.cid-rHlD7XB9Cb .navbar .dropdown-menu .dropdown-item:after{right: auto;}
.cid-rHlD7XB9Cb .navbar .dropdown-menu .dropdown-item{padding: .25rem 1.5rem;text-align: center;margin: 0;}
.cid-rHlD7XB9Cb .navbar .brand{-webkit-flex-shrink: initial;flex-shrink: initial;word-break: break-word;}

.cid-rHlD7XB9Cb .brand{display: flex;-webkit-flex-shrink: 0;flex-shrink: 0;-webkit-align-items: center;align-items: center;margin-right: 0;padding: 0;transition: all .3s;word-break: break-word;z-index: 1;}
.cid-rHlD7XB9Cb .brand .navbar-caption{line-height: inherit;font-weight: normal;}
.cid-rHlD7XB9Cb .brand .navbar-logo a{outline: none;}
.cid-rHlD7XB9Cb .brand .navbar-caption-wrap{display: flex;}
.cid-rHlD7XB9Cb .dropdown-item.active,.cid-rHlD7XB9Cb .dropdown-item:active{background-color: transparent;}
//.cid-rHlD7XB9Cb .navbar-expand-lg .navbar-nav .nav-link{padding: 0;}
.cid-rHlD7XB9Cb .navbar.navbar-expand-lg .dropdown .dropdown-menu{background: #0b416c;}
.cid-rHlD7XB9Cb .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu{margin: 0;left: 100%;}
.cid-rHlD7XB9Cb .navbar .dropdown.open > .dropdown-menu{display: block;}
.cid-rHlD7XB9Cb ul.navbar-nav{-webkit-flex-wrap: wrap;flex-wrap: wrap;}
.cid-rHlD7XB9Cb .navbar-buttons{text-align: center;}
.cid-rHlD7XB9Cb button.navbar-toggler{display: none;outline: none;width: 31px;height: 20px;cursor: pointer;transition: all .2s;position: relative;-webkit-align-self: center;align-self: center;}
.cid-rHlD7XB9Cb button.navbar-toggler .hamburger span{position: absolute;right: 0;width: 30px;height: 2px;border-right: 5px;background-color: #ce3838;}
.cid-rHlD7XB9Cb button.navbar-toggler .hamburger span:nth-child(1){top: 0;transition: all .2s;}
.cid-rHlD7XB9Cb button.navbar-toggler .hamburger span:nth-child(2){top: 8px;transition: all .15s;}
.cid-rHlD7XB9Cb button.navbar-toggler .hamburger span:nth-child(3){top: 8px;transition: all .15s;}
.cid-rHlD7XB9Cb button.navbar-toggler .hamburger span:nth-child(4){top: 16px;transition: all .2s;}
.cid-rHlD7XB9Cb nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(1){top: 8px;width: 0;opacity: 0;right: 50%;transition: all .2s;}
.cid-rHlD7XB9Cb nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(2){-webkit-transform: rotate(45deg);transform: rotate(45deg);transition: all .25s;}
.cid-rHlD7XB9Cb nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(3){-webkit-transform: rotate(-45deg);transform: rotate(-45deg);transition: all .25s;}
.cid-rHlD7XB9Cb nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(4){top: 8px;width: 0;opacity: 0;right: 50%;transition: all .2s;}
//.cid-rHlD7XB9Cb .navbar-dropdown{padding: .5rem 1rem;position: fixed;}
.cid-rHlD7XB9Cb a.nav-link{display: flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;}
.cid-rHlD7XB9Cb .nav-link .mbr-iconfont,.cid-rHlD7XB9Cb .dropdown-item .mbr-iconfont{margin-right: .2rem;}
.cid-rHlD7XB9Cb .ampstart-btn{display: flex;-webkit-align-self: center;align-self: center;}
.cid-rHlD7XB9Cb .ampstart-btn.hamburger{position: relative;right: 20px;margin-left: auto;width: 30px;height: 20px;background: none;border: none;cursor: pointer;z-index: 1000;}
.cid-rHlD7XB9Cb .ampstart-btn.hamburger:focus{outline: none;}
.cid-rHlD7XB9Cb .ampstart-btn.hamburger span{position: absolute;right: 0;width: 30px;height: 2px;border-right: 5px;background-color: #ce3838;}
.cid-rHlD7XB9Cb .ampstart-btn.hamburger span:nth-child(1){top: 0;transition: all .2s;}
.cid-rHlD7XB9Cb .ampstart-btn.hamburger span:nth-child(2){top: 8px;transition: all .15s;}
.cid-rHlD7XB9Cb .ampstart-btn.hamburger span:nth-child(3){top: 8px;transition: all .15s;}
.cid-rHlD7XB9Cb .ampstart-btn.hamburger span:nth-child(4){top: 16px;transition: all .2s;}
.cid-rHlD7XB9Cb amp-sidebar{min-width: 260px;z-index: 1050;background-color: #0b416c;}
.cid-rHlD7XB9Cb amp-sidebar.open:after{content: '';position: absolute;top: 0;left: 0;bottom: 0;right: 0;background-color: red;}
.cid-rHlD7XB9Cb .open{transform: translateX(0%);display: block;-webkit-transform: translateX(0%);}
.cid-rHlD7XB9Cb .builder-sidebar{background-color: #0b416c;position: relative;min-height: 100vh;z-index: 1030;padding: 1rem 2rem;max-width: 20rem;}
.cid-rHlD7XB9Cb .builder-sidebar .dropdown{position: relative;}
.cid-rHlD7XB9Cb .builder-sidebar .dropdown:hover > .dropdown-menu{position: relative;text-align: center;}
.cid-rHlD7XB9Cb .sidebar{padding: 1rem 0;margin: 0;}
.cid-rHlD7XB9Cb .sidebar > li{list-style: none;display: flex;-webkit-flex-direction: column;flex-direction: column;}
.cid-rHlD7XB9Cb .sidebar a{display: block;text-decoration: none;margin-bottom: 10px;}
.cid-rHlD7XB9Cb .close-sidebar{width: 30px;height: 30px;position: relative;cursor: pointer;background-color: transparent;border: none;}
.cid-rHlD7XB9Cb .close-sidebar:focus{outline: 2px auto #4ea2e3;}
.cid-rHlD7XB9Cb .close-sidebar span{position: absolute;left: 0;top: 14px;width: 30px;height: 2px;border-right: 5px;background-color: #ce3838;}
.cid-rHlD7XB9Cb .close-sidebar span:nth-child(1){-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.cid-rHlD7XB9Cb .close-sidebar span:nth-child(2){-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}
.cid-rHlD7XB9Cb amp-img{margin-right: 1rem;display: flex;-webkit-align-items: center;align-items: center;height: 45px;width: 36px;}