
          
              <nav class="navbar navbar-default" role="navigation">
                 <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="logo" src="\assets\taalhuislogo.png" alt="Logo"></a>
                 </div>
                 <!-- Collect the nav links, forms, and other content for toggling -->
                 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                       <li class="active"><a (click)="click(0)" class="pointer" >Dashboard</a></li>
                       <li><a (click)="click(1)" class="pointer" >Students</a></li>
                       <li><a (click)="click(2)"class="pointer" >Courses</a></li>
                       <li><a (click)="click(3)"class="pointer" >Teachers</a></li>
                       <li class="dropdown">
                          <a  class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                             <li><a >Action</a></li>
                             <li><a >Another action</a></li>
                             <li><a >Something else here</a></li>
                             <li class="divider"></li>
                             <li><a >Separated link</a></li>
                             <li class="divider"></li>
                             <li><a >One more separated link</a></li>
                          </ul>
                       </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                       <li class="dropdown">
                          <a  class="dropdown-toggle" data-toggle="dropdown">Sign up <b class="caret"></b></a>
                          <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                             <li>
                                <div class="row">
                                   <div class="col-md-12">
                                      <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                         <div class="form-group">
                                            <label class="sr-only" for="exampleInputName1">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputName1" placeholder="Name" required>
                                         </div>
                                         <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail1">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
                                         </div>
                                         <div class="form-group">
                                            <label class="sr-only" for="exampleInputPassword1">Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                                         </div>
                                         <div class="form-group">
                                            <button type="submit" class="btn btn-success btn-block">Register</button>
                                         </div>
                                      </form>
                                   </div>
                                </div>
                             </li>
                          </ul>
                       <li class="dropdown">
                          <a href="" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
                          <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                             <li>
                                <div class="row">
                                   <div class="col-md-12">
                                      <form (click)="stopPropagation($event)" class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                         <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                                         </div>
                                         <div class="form-group">
                                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                         </div>
                                         <div class="checkbox">
                                            <label>
                                            <input type="checkbox"> Remember me
                                            </label>
                                         </div>
                                         <div class="form-group">
                                            <button type="submit" class="btn btn-success btn-block">Sign in</button>
                                         </div>
                                      </form>
                                   </div>
                                </div>
                             </li>
                             <li class="divider"></li>
                             <li>
                                <input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Sign In with Google">
                                <input class="btn btn-primary btn-block" type="button" id="sign-in-twitter" value="Sign In with Twitter">
                             </li>
                          </ul>
                       </li>
                    </ul>
                 </div>
                 <!-- /.navbar-collapse -->
              </nav>
          
